<!DOCTYPE html>
<html>
<head>

    <title>timer</title>	
    <link rel="stylesheet"  href="styles.css">
	

</head>

<body style="background-color:#F2F2F2;">


<img id="kk" src="giphy.gif" alt="IOT">

<div id="vv" style align="center">
    IOT<br/>Internet of things
</div>

<p id = "pp">
Please wait
</p> 

<script>

var downloadButton = document.getElementById("pp");
var counter = 10;
var newElement = document.createElement("p");
newElement.innerHTML = "wait for 10 seconds.";
newElement.style.color = "blue";
newElement.style.fontFamily = "Arial";
newElement.style.fontSize = "72px";
newElement.style.position = "absolute";


var id;
downloadButton.parentNode.replaceChild(newElement, downloadButton);

id = setInterval(function() {
    counter--;
    if(counter < 0) {
        window.open("PieGraph.html");
        clearInterval(id);
    } else {
        newElement.innerHTML = "wait for " + counter.toString() + " seconds.";
    }
}, 1000);

</script>
	




</body>


</html>