<!DOCTYPE html>

<html>


<head>

    <title>IOT Buttons Data</title>	
    <link rel="stylesheet"  href="styles.css">
</head>

<body style="background-color:#F2F2F2;">


<div class="head">
<h1 >
Application for IOT Dash Buttons
</h1>

<h2 >
Description
</h2>
<p>
This application will read the number of Dash button press and will display the result in the form of pie chart after a span of 10 seconds. 
</p>
</div>

<div class="Button">
<p>
To start the application please click on the image below.
</p>

<a  href="countdown.html">
  <img  src="{{ static_url("click.gif") }}"  alt="direct to countdown" style="width:400px;height:200px;border:0;">
</a>
</div>


<img id="kk" src="giphy.gif" alt="IOT">

<div id="vv" style align="center">
    IOT<br/>Internet of things
</div>

</body>


</html>