

#vv
{
line-height: 90%;
float: right;
margin: 120px 0px 0px 0px;
width: 500px;
height: 200px;
background: linear-gradient(to left, #1C1C1C 0%, #81BEF7 100%);
color: powderblue;
font-family:Agency FB;
font-variant: small-caps;
font-size: 80px;
transform: rotate(90.0deg); 
}

#kk
{
	position: absolute;
    left: 991px;
    top: 450px;

width:200px;
height:200px;
}



div.head
{
	color: #00BFFF;
	position: absolute;
    left: 10px;
    top: 10px 
	font-weight: bold;

}

div.Button
{
	
	color: #00BFFF;
	position: absolute;
    left: 200px;
    top: 250px;
	font-weight: bold;
  
}



